
<h2>{{ $ctrl.post.title }}</h2>
<p>{{ $ctrl.post.content }}</p>
<a href="#"></a>
<a ui-sref="postEdit({id: $ctrl.post.id})">Edit Post</a>
<form ng-submit="$ctrl.postDelete(post.id)">
<button type="submit">Delete</button>
</form>
<br>
<!-- {{}} -->

<div ng-repeat="comment in $ctrl.post.comments">
  <!-- <div ng-class="{'hidden': $ctrl.editComment}"> -->
  <div ng-hide="$ctrl.comment[$index]">
  {{comment.message}}
  <br>




  <!-- <input type="button" ng-click="$ctrl.setComment($index)" value="Edit"> -->
  <input type="button" ng-click="$ctrl.toggleDisplay($index)" value="Edit">

  <!-- <div ng-class="{'hidden': $ctrl.editComment}" ng-if="$ctrl.editComment === true"> -->
  </div>

  <!-- edit comment -->
  <div ng-show="$ctrl.comment[$index]">
    <form ng-submit="$ctrl.saveComment(comment.id)">
    <textarea ng-value="comment.message" rows="4" cols="80" ng-model="$ctrl.comment.message">{{comment.message}}</textarea>
    <br>
    <button ng-click="$ctrl.toggleDisplay($index); $ctrl.editComment = false" type="button" name="button">Cancel</button>
    <button ng-click="$ctrl.comment[$index] = false" type="submit">Save</button>
    <br>
    </form>
  </div>

  <form ng-submit="$ctrl.commentDelete(comment.post_id, comment.id)">
  <button type="submit">Delete</button>
  </form>
  <br>

  <!-- ***** Reply Button ***** -->
  <a style="font-size: 14px;" ng-click="$ctrl.replyToggle($index); $ctrl.comment[$index] = false" ui-sref="#">Reply</a>
  <br>
  <h4>Replies</h4>
  <div ng-repeat="comment in comment.comments">
    {{comment.message}}
  </div>
  <!-- ***** Reply to comment ***** -->
    <!-- <div ng-class="{'hidden': !$ctrl.commentReply}"> -->
    <div ng-show="$ctrl.reply[$index]">
    <!-- <div ng-hide="$ctrl.comment"> -->
      <form ng-submit="$ctrl.addReply(comment.id)">
      <textarea placeholder="Write your reply..." rows="8" cols="80" ng-model="$ctrl.comment.message"></textarea>
      <br>
      <button ng-click="$ctrl.replyToggle($index); $ctrl.commentReply = false" type="button" name="button">Cancel</button>
      <button type="submit">Reply</button>
      <br>
      </form>
    </div>
    <!-- ***** End Reply to comment ***** -->


  <br>
  <br>
</div>

<br>
<!-- <input type="textarea" placeholder="Write your comment..." ng-model="$ctrl.comment.message"> -->
<div ng-class="{'hidden': $ctrl.editComment}">
<!-- <div ng-hide="$ctrl.comment"> -->
  <h2>New comment</h2>
  <form ng-submit="$ctrl.addComment()">
  <textarea  placeholder="Write your comment..." rows="8" cols="80" ng-model="$ctrl.comment.message"></textarea>
  <br>
  <button type="submit">Comment</button>
  <br>
  </form>
</div>
<!-- {{$ctrl.post.comments}} -->
<a ui-sref="home">Back</a>
