<h2>Make a new Post</h2>
<form>
  <div class="">
    <label for="">Title</label>
    <input type="text"  class="validate" ng-model="$ctrl.post.title">
  </div>
  <div class="">
    <label for="">Content</label>
    <br>
    <!-- <input type="text" rows="8" cols="80" class="validate" ng-model="$ctrl.post.content"> -->
    <textarea  placeholder="create your post Allison..." rows="8" cols="80" ng-model="$ctrl.post.content"></textarea>
  </div>
  <div>
    <button ng-click="$ctrl.savePost()">Post</button>
  </div>
</form>
<a ui-sref="home">Cancel</a>
